body{
    width: 99%;
    height: 100%;
    min-height: 97.7vh;
    background: linear-gradient(to bottom, #e6dada, #274046); 
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 91.3vh;
  }
.formulario{
    border-radius: 25px;
    width: 300px;
    height: auto;
    background: linear-gradient(to top, #11998e, #49a09d);
    box-shadow: 0px 0px 25px ;
    padding-bottom: 20px;
}

.formulario input[type=button]{
    border-radius: 5px;
}

.navegador ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
}

.navegador li {
    float: left;
    border-right:1px solid #bbb;
}
.izq{
    float: right;
    border-right: none;
    border-left:1px solid #bbb;
}

.navegador li a.logo{
    text-align: center;
    padding: 0%;
    height: 46.3px;
}

.logo img{
    height: 46.3px;
}

.navegador li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navegador li a:hover{
    background-color: grey;
}

.tituloArticulo{
    text-align: center;
    font-size: 2.3em;
}

.portfolio{
    display: inline;
}

.articuloIzq{
float: left;
}

.articuloIzq img{
    border-radius: 30px;
    width: auto;
    height: 300px;
    margin-right: 20px;
    margin-left: 20px;
}

.articuloDerecha{
    font-size: 1.3em;
}